html, body {
    margin: 20px;
    padding: 0;
    background-color: #333333;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    text-align: center;
}





.green {
    color: greenyellow;
    text-shadow: 1px 1px 20px greenyellow;
}

.flexbox {
    height: 100vh;
    margin: auto;
    width: 48%;
}

.df {
    display: flex;
}

.green-small {
    background-color: greenyellow;
    box-shadow: 1px 1px 20px greenyellow;
    height: 140px;
    width: 120px;
    margin: 10px;
    border-radius: 10px;
}

.green-med {
    background-color: greenyellow;
    box-shadow: 1px 1px 20px greenyellow;
    width: 260px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;
}

.green-large {
    background-color: greenyellow;
    box-shadow: 1px 1px 20px greenyellow;
    width: 540px;
    height: 140px;
    margin: 10px;
    border-radius: 10px;
}





.purple {
    color: blueviolet;
    text-shadow: 1px 1px 20px blueviolet;
}

.grid-layout {
    margin: auto;
    width: 43vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "l1 l1 s1 s2"
                         "l1 l1 l2 l2"
                         "m m l2 l2";
    grid-gap: 35px;
}

.purple-block {
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 1px 1px 20px blueviolet;
}

.large1 {
    grid-area: l1;
}

.small1 {
    grid-area: s1;
}

.small2 {
    grid-area: s2;
}

.medium {
    grid-area: m;
}

.large2 {
    grid-area: l2;
}